<html>
<head>

</head>
<body>
    <h1> Student Result </h1>
    <form action = "/result" method = 'POST'>
        <label>Total Marks</label><br>
        <input type = "text" name = "total_marks_out_of_1500"><br><br>
        <label>Percentage</label><br>
        <input type = "text" name = "percentage"><br><br>
        <label>CGPA</label><br>
        <input type = "text" name = "cgpa"><br><br>

        <input type = "submit" value = "Result"><br><br> {{result}}

    </form>








</body>

</html>